/* .item-hover{
    padding: 1em;
    color: #FBBF24;
    text-decoration: none;
    position: relative;
    float:left;
    font-size: 1em;
    line-height: 2em;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
      transition: all .3s ease-in-out;
    height: 3.8em;
    overflow: hidden;
    min-width: 100px;
  }
  
  .item-hover::before {
    content: attr(data-text);
    position: absolute;
    top: -60px;
    left: 0px;
    color: #ffffff;
    padding: 1em;
    min-width: 100px;
  }
  
  .item-hover:hover{
    line-height: 8.5em;
    -webkit-transition: all .3s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .3s linear;
  } */

.item,
[class*="item-"] {
  display: inline-block;
  height: 2.5em;
  /* letter-spacing: .08em; */
  cursor: pointer;
  overflow: hidden;
  padding: 0.5em 1.25em;
  /* position: relative; */
  text-align: center;
  text-decoration: none;
  color: #6b6b6b;
  font-size: 1rem /* 16px */;
  line-height: 1.5rem /* 24px */;
  /* text-shadow: 0 1px 3px rgba(0, 0, 0, 0.55); */

  -webkit-transition: 0.25s ease all;
  -moz-transition: 0.25s ease all;
  -o-transition: 0.25s ease all;
  transition: 0.25s ease all;
}

.item-hover:hover {
  line-height: 8em;
}
.item-hover:before {
  /* color: #DEEFF5; */
  content: attr(data-text);
  left: 1.5em;
  position: absolute;
  top: -2.75em;
}

/* * {
  cursor: none;
} */
/*
  .button, [class*="button-"]{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    overflow: hidden;
    padding: 0 4em;
    height: 3.5em;
    font: 300 1em/3.5em 'Opens Sans', Sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 3px rgba(#000, .35);
    letter-spacing: .08em;
    color: #fff;
    background: #000;
    border: 1px solid #fff;
    border-radius: 2px;
    transition: .35s ease all;
  }
  .button-hover:hover{
    line-height: 9em;
  }
  .button-hover:before{
    content: attr(data-text);
    color: #deeff5;
    position: absolute;
    top: -2.75em;
  }
*/

body {
  --white: #888888;
  --background: var(--blue);
  --accent: var(--white);
  scroll-behavior: smooth;
}
@media only screen and (min-width: 480px) {
  #progress {
    position: fixed;
    bottom: 20px;
    right: 60px;
    transform: rotate(-90deg);
  }

  circle {
    stroke-dashoffset: 0;
    stroke-width: 15%;
    fill: none;
  }

  .bg {
    stroke: var(--accent);
    opacity: 0.3;
  }

  #progress .indicator {
    stroke: var(--accent);
  }

  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: #fff3;
    -webkit-border-radius: 1ex;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--accent);
    -webkit-border-radius: 1ex;
  }

  ::-webkit-scrollbar-corner {
    background: #fff3;
  }
}

::selection {
  color: white !important; /* Text color of the selected text */
  background: #4b4b4b !important; /* Background color of the selection */
}

@media only screen and (min-width: 1025px) {
  .about-us-container {
    height: 100vh;
    overflow-y: auto;
  }
  .services-container {
    height: 100vh;
    overflow-y: auto;
  }
}
