/* .item-hover{
    padding: 1em;
    color: #FBBF24;
    text-decoration: none;
    position: relative;
    float:left;
    font-size: 1em;
    line-height: 2em;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
      transition: all .3s ease-in-out;
    height: 3.8em;
    overflow: hidden;
    min-width: 100px;
  }
  
  .item-hover::before {
    content: attr(data-text);
    position: absolute;
    top: -60px;
    left: 0px;
    color: #ffffff;
    padding: 1em;
    min-width: 100px;
  }
  
  .item-hover:hover{
    line-height: 8.5em;
    -webkit-transition: all .3s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .3s linear;
  } */


  .item,
  [class*="item-"] {
    display: inline-block;
    height: 2.5em;
    /* letter-spacing: .08em; */
    cursor: pointer;
    overflow: hidden;
    padding: 0.5em 0.75em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    
    -webkit-transition:   0.25s ease all;
    -moz-transition:      0.25s ease all;
    -o-transition:        0.25s ease all;
    transition:           0.25s ease all;
  }
  
  .item-hover:hover {
    line-height: 8em;
    color: #fff;
  }
  .item-hover:before {
    /* color: #DEEFF5; */
    content: attr(data-text);
    left: 0.75em;
    position: absolute;
    top: -2.75em;
  }

  /* .button, [class*="button-"]{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    overflow: hidden;
    padding: 0 4em;
    height: 3.5em;
    font: 300 1em/3.5em 'Opens Sans', Sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 3px rgba(#000, .35);
    letter-spacing: .08em;
    color: #fff;
    background: #000;
    border: 1px solid #fff;
    border-radius: 2px;
    transition: .35s ease all;
  }
  .button-hover:hover{
    line-height: 9em;
  }
  .button-hover:before{
    content: attr(data-text);
    color: #deeff5;
    position: absolute;
    top: -2.75em;
  } */

/*
NOTE: This is just an experiment and
      could use some changes to improve performance:

https://x.com/actualTimWilson/status/1730753841795158313

See a production optimized version here: https://charmui.com
*/

@keyframes jumbo {
    from {
        background-position: 50% 50%, 50% 50%;
    }
    to {
        background-position: 350% 50%, 350% 50%;
    }
}

.jumbo {
    --stripes: repeating-linear-gradient(
        100deg,
        #fff 0%,
        #fff 7%,
        transparent 10%,
        transparent 12%,
        #fff 16%
    );
    --stripesDark: repeating-linear-gradient(
        100deg,
        #000 0%,
        #000 7%,
        transparent 10%,
        transparent 12%,
        #000 16%
    );
    --rainbow: repeating-linear-gradient(
        100deg,
        
        #60a5fa 10%,
        #e879f9 15%,
        #778eab 20%,
        #5eead4 25%,
        #60a5fa 30%
    );
    background-image: var(--stripes), var(--rainbow);
    background-size: 300%, 200%;
    background-position: 50% 50%, 50% 50%;

    filter: blur(10px) invert(100%);

    mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);

    pointer-events: none;
}

.jumbo::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripes), var(--rainbow);
    background-size: 200%, 100%;
    animation: jumbo 60s linear infinite;
    background-attachment: fixed;
    mix-blend-mode: difference;
}

.dark .jumbo {
    background-image: var(--stripesDark), var(--rainbow);
    filter: blur(10px) opacity(50%) saturate(200%);
}
.dark .jumbo::after {
    background-image: var(--stripesDark), var(--rainbow);
}

body {
  --white: #888888;
  --background: var(--blue);
  --accent: var(--white);
}
@media only screen and (min-width: 480px) {
  #progress {
    position: fixed;
    bottom: 20px;
    right: 60px;
    transform: rotate(-90deg);
  }

  circle {
    stroke-dashoffset: 0;
    stroke-width: 15%;
    fill: none;
  }

  .bg {
    stroke: var(--accent);
    opacity: 0.3;
  }

  #progress .indicator {
    stroke: var(--accent);
  }

  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: #fff3;
    -webkit-border-radius: 1ex;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--accent);
    -webkit-border-radius: 1ex;
  }

  ::-webkit-scrollbar-corner {
    background: #fff3;
  }
}